* {
    box-sizing: border-box;
}

body {
    background-color: #FFBA08;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* flexbox for three main columns */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    float: left;
    height: 100vh;
    text-align: center;
    padding: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 2rem;
    margin: 0 auto;
}