/* grid layout used for middle column */
.middle {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FAA307;
    width: 50%;
}

.calories {
    grid-column: 1 / -1;
}

.macro {
}

.micro {
}

h3 span:hover {
    text-decoration: underline;
}

.disclaimer {
    margin-top: 18rem;
}