/* grid layout used for middle column */
.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FAA307;
    width: 50%;
}

.calories {
    grid-column: 1 / -1;
}

.macro {
}

.micro {
}